      <style>
          /* Ember Table Bar Chart Cells - straight from Addepar example
          -------------------------------------------------- */
          .bar-cell {
            height: 29px !important;
            display: inline-block;
            vertical-align: middle;
          }
      </style>  
      <script>
          // spot to get all the rCharts parameters
          var params = {{{ chartParams }}}

          // transform data into array of objects from object of arrays
          // easy to do with d3, lodash, etc.
          // but use just javascript for now

          var data= [];
          params.data[Object.keys(params.data)[0]].forEach(function(d,i){
            var tempdata = {};
            Object.keys(params.data).map(function(key) {
              tempdata[key] = params.data[key][i];
            })
            data.push(tempdata);
          });

          // copied most from Addepar

          window.App = Ember.Application.create({
            customEvents: {
              blur: 'blur'
            }
          });

          App.BarTableCell = Ember.Table.TableCell.extend({
            templateName: 'bar_table',
            //classNameBindings: ['column.color'],
            barWidth: Ember.computed(function() {
              var column, row, _ref;
              _ref = this.getProperties('column', 'row'), column = _ref.column, row = _ref.row;
              if (!(column && row)) {
                return 0;
              }
              return Math.round(+this.get('cellContent'));
            }).property('column', 'row', 'cellContent'),
            color:Ember.computed(function() {
              var column, row, _ref;
              _ref = this.getProperties('column', 'row'), column = _ref.column, row = _ref.row;
              if (!(column && row)) {
                return 'auto';
              }
              return column.color;
            }).property('column', 'row'),
            histogramStyle: Ember.computed(function() {
              return "width: " + (this.get('barWidth')) + "%;" + "background-color:" + (this.get('color')) + ";";
            }).property('barWidth','color')
          });



          App.ApplicationController = Ember.Controller.extend({
            columns: Ember.computed(function() {
              var colors, column1, columns;
              colors = d3.scale.category10();
              column1 = Ember.Table.ColumnDefinition.create({
                columnWidth: 50,
                headerCellName: Object.keys(data[0])[0],
                contentPath: Object.keys(data[0])[0]
              });
              columns = Object.keys(data[0]).splice(1,Object.keys(data[0]).length).map(function(key, index) {
                return Ember.Table.ColumnDefinition.create({
                  color: colors(key),
                  headerCellName: key,
                  tableCellViewClass: 'App.BarTableCell',
                  contentPath: key
                });
              });
              columns.unshift(column1);
              return columns;
            }),
            content: data
          });




        </script>

        
