        <script>
          // spot to get all the rCharts parameters
          var params = {{{ chartParams }}}

          // copied most from Addepar
          // this was probably most helpful
          // http://jsbin.com/eVOgUrE/3/edit as one simpler example than the addepar maze


          window.App = Ember.Application.create({
            customEvents: {
              blur: 'blur'
            }
          });

          App.ApplicationController = Ember.Controller.extend({
            columns: Ember.computed(function() {
              var closeColumn, dateColumn, highColumn, lowColumn, openColumn;
              dateColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 150,
                textAlign: 'text-align-left',
                headerCellName: 'Date',
                getCellContent: function(row) {
                  return new Date(row['date']).toDateString();
                }
              });
              openColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'Open',
                getCellContent: function(row) {
                  return row['open'].toFixed(2);
                }
              });
              highColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'High',
                getCellContent: function(row) {
                  return row['high'].toFixed(2);
                }
              });
              lowColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'Low',
                getCellContent: function(row) {
                  return row['low'].toFixed(2);
                }
              });
              closeColumn = Ember.Table.ColumnDefinition.create({
                columnWidth: 100,
                headerCellName: 'Close',
                getCellContent: function(row) {
                  return row['close'].toFixed(2);
                }
              });
              return [dateColumn, openColumn, highColumn, lowColumn, closeColumn];
            }),
            content: null//params.data
          });

        </script>

        
