        <script>
          // spot to get all the rCharts parameters
          var params = {{{ chartParams }}}

          // transform data into array of objects from object of arrays
          // easy to do with d3, lodash, etc.
          // but use just javascript for now

          var data= [];
          params.data[Object.keys(params.data)[0]].forEach(function(d,i){
            var tempdata = {};
            Object.keys(params.data).map(function(key) {
              tempdata[key] = params.data[key][i];
            })
            data.push(tempdata);
          });

          // copied most from Addepar
          // this was probably most helpful
          // http://jsbin.com/eVOgUrE/3/edit as one simpler example than the addepar maze


          window.App = Ember.Application.create({
            customEvents: {
              blur: 'blur'
            }
          });

          App.ApplicationController = Ember.Controller.extend({
            columns: Ember.computed(function() {
              var tablecolumns = [];
              Object.keys(data[0]).map(function(key) {
                tablecolumns.push(Ember.Table.ColumnDefinition.create({
                  headerCellName: key,
                  getCellContent: function(row) {
                      return row[key];
                    }
                  })
                )
              })
              return tablecolumns;
            }),
            content: data
});



        </script>

        
