        <script type="text/x-handlebars" data-template-name="application">
          <div class="col-md-10 col-md-offset-2 left-border main-content-container">
            <h1>Ember Table <small>Simple</small></h1>

            <div class="row">
              <div class="col-md-12">
                <div class="example-container">
                  <div class="ember-table-example-container">
                    {{table-component
                      hasFooter=false
                      columnsBinding="columns"
                      contentBinding="content"
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>